# Deliverable 3

#### Agent have strategies:

In [1]:
strategies=['Lizard', 'Rock', 'Paper', 'Scissors', 'Spock']

#### The world has rules

In [2]:
payoff={('Lizard', 'Rock'):(0,1),
        ('Rock', 'Lizard'):(1,0),
        ('Spock', 'Lizard'):(0,1),
        ('Lizard', 'Spock'):(1,0),
        ('Scissors', 'Spock'):(0,1),
        ('Spock', 'Scissors'):(1,0),
        ('Paper', 'Scissors'):(0,1),
        ('Scissors', 'Paper'):(1,0),
        ('Rock', 'Paper'):(0,1),
        ('Paper', 'Rock'):(1,0),
        ('Scissors', 'Rock'):(0,1),
        ('Rock', 'Scissors'):(1,0),
        ('Lizard', 'Scissors'):(0,1),
        ('Scissors', 'Lizard'):(1,0),
        ('Paper', 'Lizard'):(0,1),
        ('Lizard', 'Paper'):(1,0),
        ('Spock', 'Paper'):(0,1),
        ('Paper', 'Spock'):(1,0),
        ('Rock', 'Spock'):(0,1),
        ('Spock', 'Rock'):(1,0),
        ('Lizard', 'Lizard'):(0,0),
        ('Rock', 'Rock'):(0,0),
        ('Paper', 'Paper'):(0,0),
        ('Scissors', 'Scissors'):(0,0),
        ('Spock', 'Spock'):(0,0)}

#### Creating and setting up agents:

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

#simples: choose randomly
choice(strategies)

'Spock'

#### 1. agent makes a choice

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
Players

[{'name': 'John', 'score': 0, 'strategy': 'Scissors'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Scissors'}]

#### 2. Current move

In [7]:
Players[0]['strategy'],Players[1]['strategy']

('Scissors', 'Scissors')

In [8]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 0)

#### 3. agent benefits / suffers from decision made

In [9]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [10]:
# current agent situation
Players

[{'name': 'John', 'score': 0, 'strategy': 'Scissors'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Scissors'}]

#### Social outcome

In [11]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      0  Scissors
1  Mary      0  Scissors

In [12]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score  strategy
0  John      0  Scissors
1  Mary      0  Scissors

#### More players

In [13]:
# names of players
names=['Jim','Jane','Peter','Zoe']

In [14]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [15]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [16]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [17]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [18]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [19]:
# final situation
society

[{'name': 'Jim', 'score': 101, 'strategy': 'Lizard'},
 {'name': 'Jane', 'score': 135, 'strategy': 'Paper'},
 {'name': 'Peter', 'score': 115, 'strategy': 'Lizard'},
 {'name': 'Zoe', 'score': 132, 'strategy': 'Rock'}]

In [20]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score strategy
0    Jim    101   Lizard
1   Jane    135    Paper
2  Peter    115   Lizard
3    Zoe    132     Rock

In [21]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
1  Jane    135    Paper